<!DOCTYPE html>
<html>
  <head>
    <title>RailsAuthDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/styles/index.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= navbar %>
    </nav>
    <% flash.each do |k, v|%>
      <div class=<%= k %>>
        <p><%= v %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
